body{
    font-family: 'Playfair Display', serif;
    background-color: beige ;
}
#logo{
    position: relative;
    right: -46%;
    top: -50px;
}
header h1{
    font-size: 70px;
    text-align: center;
    color: brown;
}
nav ul{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav li{
    display: inline-block;
    margin: 80px;
    padding: 10px;
    border: solid 2px #53484E ;
    font-size: 20px;
    background-color: #53484E;
    border-radius: 10px;
}
.entrada{
    margin: 40px;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 4px 4px 20px 0px #000000cc;
    border-radius: 20px;
    background-color: #A57A6A;
}
.platos{
    margin: 40px;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 4px 4px 20px 0px #000000cc;
    border-radius: 20px;
    background-color: #7F5B55;
}
.postre{
    margin: 40px;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 4px 4px 20px 0px #000000cc;
    border-radius: 20px;
    background-color: #726566;
}
.bebida{
    margin: 40px;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 4px 4px 20px 0px #000000cc;
    border-radius: 20px;
    background-color: #A4968D;
}
.titulo{
    text-align: center;
    font-size: 50px;
}

.sub-titulo{
    color: white;
    position: relative;
    right: -5%;
    bottom: -20px;
    font-size: 40px;
}
.precio{
    font-weight: bold;
    
    padding: 10px;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    border-width: -10px;
}
.informacion{
    font-weight: bold;
    color: beige;
    position: relative;
    right: -2%;
    bottom: -20px;
    font-size: 20px;
}
.img{
    position: relative;
    right: -70%;
    top: 2px;
    width: 12%;
}
